
.title {
	font-weight: 700;
}

.description {
	display: flex;
	flex: 1;
	justify-content: flex-start;
	align-items: center;
	font-size: 0.85rem;
	max-width: var(--max-width);
	font-family: var(--font-mono);
}

.description a {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}

.description p {
	position: relative;
	margin: 0;
	padding: 1rem;
	background-color: rgba(var(--callout-rgb), 0.5);
	border: 1px solid rgba(var(--callout-border-rgb), 0.3);
	border-radius: var(--border-radius);
}
